* {
    margin: 0;
    font-family: sans-serif;
}

body {
}

.base {
    background-color: #000000;
    color: #ffffff;
}

.base-left {
    height: 100vh;
}

.base-right {
    height: calc(100vh - 200px);
    background-color: #000000;
}

.base-right h2, hr{
    font-weight: 100;
    margin: 0 20px;
}

/* .base {
    display: flex;
}

.base-left{
    width: 100%;
}

.base-right {
    width: 0;
}

.base-right.active {
    width: 120%;
} */

.image {
    background-position: center;
}

.gradient {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.78) 95%, rgba(0, 0, 0, 1));
}

.card {
    padding: 75px 8px 0 8px;
    flex: 1 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 420px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.searchbar {
    height: calc(45px - 14px);
    width: calc(100% - 92px);
    margin-right: 18px;
    padding: 6px 13px;
    background-color: #000000bb;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 999px;
    font-size: 16px;
}

.searchbar:focus-visible {
    outline: 1px solid #ffffff;
}

button {
    color: #ffffff;
    background-color: #000000bb;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: solid 1px #ffffff;
}

button:hover {
    background-color: #a5a5a5c7;
    transition: ease-in 0.2s;
}

.weather {
    color: #ffffff;
}

.main {
    margin: 120px 16px;
    display: flex;
}

.main-left h1 {
    margin-top: -10px; 
    font-size: 65px;
    text-shadow: 0px 0px 5px #000000;
}

.main-left {
    margin-right: 40px;
}

.main-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
}

.main-right img {
    background-color: #ffffff79;
    border-radius: 50%;
    height: 40px
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 420px;
}

.more {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 16px 80px;
    background-color: #ffffff44;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
}

.more p{
    font-size: 25px;
    font-weight: 600;
}


@media screen and (max-width: 400px) {
    .base-right {
        height: calc(100vh - 200px);
        background-color: #000000;
    }

    .base-right h2, hr{
        font-weight: 100;
        margin: 0 20px;
    }
}
